[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
schedule = "*"
requests = "*"
paramiko = "*"
linode-api4 = "*"
digital-ocean-api = "*"
python-digitalocean = "*"

[dev-packages]

[requires]
python_version = "3.13"
